<div class="py-5 text-center">
  <h2>Volunteer Registration</h2>
  <!--      <p class="lead">Below is an example form built entirely with Bootstrap’s form controls. Each required form group has a validation state that can be triggered by attempting to submit the form without completing it.</p>-->
</div>

<div class="row">
  <div class="col-md-7 col-lg-12">
    <%= form_with model: @volunteer, class: 'bold_labels' do |f| %>
      <% if @volunteer.errors.any? %>
        <div class="row g-4 bg-white border">
          <h4>Sorry! your form could not be submitted due to following errors:</h4>

          <ul class="ms-2">
            <% @volunteer.errors.each do |error| %>
              <li class="text-danger"><%= error.message %></li>
            <% end %>
          </ul>
        </div>
        <br><br>
      <% end %>

      <div class="row g-4 bg-white border">
        <div class="col-sm-6">
          <%= f.label 'Name', class: 'form-label' %>
          <%= f.text_field :name, class: 'form-control', placeholder: 'Name' %>
        </div>

        <div class="col-sm-6">
          <%= f.label 'Email', class: 'form-label' %>
          <%= f.text_field :email, class: 'form-control', placeholder: 'Email' %>
        </div>

        <div class="col-sm-6">
          <%= f.label 'Father Name', class: 'form-label' %>
          <%= f.text_field :father_name, class: 'form-control', placeholder: 'Father Name' %>
        </div>

        <div class="col-sm-6">
          <%= f.label 'Contact Whatsapp', class: 'form-label' %>
          <%= f.text_field :phone_whatsapp, class: 'form-control', placeholder: 'Contact (Whatsapp)' %>
        </div>

        <div class="col-sm-6">
          <%= f.label :cnic, 'CNIC', class: 'form-label' %>
          <%= f.text_field :cnic, class: 'form-control', placeholder: 'CNIC' %>
        </div>

        <div class="col-sm-6">
          <%= f.label 'City', class: 'form-label' %>
          <%= f.text_field :city, class: 'form-control', placeholder: 'City' %>
        </div>

        <div class="col-sm-12">
          <%= f.label 'Current Address', class: 'form-label' %>
          <%= f.text_field :current_address, class: 'form-control', placeholder: 'Current Address' %>
        </div>

        <div class="col-sm-12">
          <%= f.label 'Hometown Address', class: 'form-label' %>
          <%= f.text_field :hoemetown_address, class: 'form-control', placeholder: 'Hometown Address' %>
        </div>

        <div class="col-sm-6">
          <%= f.label 'Education Institute', class: 'form-label' %>
          <%= f.text_field :educational_institute, class: 'form-control', placeholder: 'Education Institute' %>
        </div>

        <div class="col-sm-6">
          <%= f.label 'Degree Department', class: 'form-label' %>
          <%= f.text_field :degree_department, class: 'form-control', placeholder: 'Degree Department' %>
        </div>

        <div class="col-sm-6">
          <%= f.label 'Age', class: 'form-label' %>
          <%= f.number_field :age, class: 'form-control', placeholder: 'Age' %>
        </div>

        <div class="col-sm-6">
          <%= f.label 'Date of Birth', class: 'form-label' %>
          <%= f.date_field :dob, class: 'form-control', placeholder: 'Date of Birth' %>
        </div>

        <div class="col-sm-6">
          <%= f.label 'Gender', class: 'form-label' %><br />
          <%= render partial: 'collection_radio_buttons', locals: {collection: ['Male', 'Female'], name: 'gender', f: f} %>
        </div>

        <div class="col-sm-6">
          <%= f.label 'Professional Details', class: 'form-label' %><br />
          <%= render partial: 'collection_check_boxes', locals: {collection: Volunteer::PROFESSIONAL_DETAILS, f: f, name: 'volunteer[professional_details][]'} %>
        </div>

        <div class="col-sm-6">
          <%= f.label 'Blood Group', class: 'form-label' %><br />
          <%= render partial: 'collection_radio_buttons', locals: { collection: ['O+','O-','A+','A-','B+','B-','AB+','AB-','Not Specified'], name: 'blood_group', f: f } %>
        </div>

        <div class="col-sm-6">
          <%= f.label 'Availability', class: 'form-label' %><br />
          <%= render partial: 'collection_check_boxes', locals: {collection: ['Full Time', 'Part Time'], f: f, name: 'volunteer[availability][]'} %>
        </div>

        <div class="col-sm-6">
          <%= f.label :skills, 'Skills', class: 'form-label' %><br />
          <%= render partial: 'collection_check_boxes', locals: {collection: Volunteer::SKILLS, f: f, name: 'volunteer[skills][]'} %>
        </div>

        <div class="col-sm-6">
          <%= f.label :area_of_interest, 'Area of Interest', class: 'form-label' %><br />
          <%= render partial: 'collection_check_boxes', locals: {collection: Volunteer::AREA_OF_INTEREST, f: f, name: 'volunteer[area_of_interest][]'} %>
        </div>

        <div class="col-sm-6">
          <%= f.label 'Please mention days', class: 'form-label' %><br>
          <%= render partial: 'collection_check_boxes', locals: {collection: Date::DAYNAMES, f: f, name: 'volunteer[availability_days][]'} %>
        </div>

        <div class="col-sm-6">
          <%= f.label 'How did you come to know about us?', class: 'form-label' %><br>
          <%= render partial: 'collection_check_boxes', locals: {collection: Volunteer::MARKETING_MEDIUM, f: f, name: 'volunteer[marketing_medium][]'} %>
        </div>

        <div class="col-sm-6">
          <%=f.submit 'Submit', class: "btn btn-primary" %>
        </div>
      </div>

    <% end %>
  </div>
</div>
